<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mentor-heading">Create or edit a Mentor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                    <div *ngIf="editForm.get('username').invalid && (editForm.get('username').dirty || editForm.get('username').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('username').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_linkedin">Linkedin</label>
                    <input type="text" class="form-control" name="linkedin" id="field_linkedin"
                           formControlName="linkedin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_regDatetime">Reg Datetime</label>
                    <div class="d-flex">
                        <input id="field_regDatetime" type="datetime-local" class="form-control" name="regDatetime" formControlName="regDatetime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_regCode">Reg Code</label>
                    <input type="text" class="form-control" name="regCode" id="field_regCode"
                           formControlName="regCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_experience">Experience</label>
                    <input type="number" class="form-control" name="experience" id="field_experience"
                           formControlName="experience"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
