<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-training-record-heading">Create or edit a Training Record</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="Propose">Propose</option>
                        <option value="Progress">Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_progress">Progress</label>
                    <select class="form-control" name="progress" formControlName="progress" id="field_progress">
                        <option value="One">One</option>
                        <option value="Two">Two</option>
                        <option value="Three">Three</option>
                        <option value="Four">Four</option>
                    </select>
                    <div *ngIf="editForm.get('progress').invalid && (editForm.get('progress').dirty || editForm.get('progress').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('progress').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commissionAmount">Commission Amount</label>
                    <input type="number" class="form-control" name="commissionAmount" id="field_commissionAmount"
                           formControlName="commissionAmount"/>
                    <div *ngIf="editForm.get('commissionAmount').invalid && (editForm.get('commissionAmount').dirty || editForm.get('commissionAmount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commissionAmount').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('commissionAmount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_avgRating">Avg Rating</label>
                    <input type="number" class="form-control" name="avgRating" id="field_avgRating"
                           formControlName="avgRating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amountReceived">Amount Received</label>
                    <input type="number" class="form-control" name="amountReceived" id="field_amountReceived"
                           formControlName="amountReceived"/>
                    <div *ngIf="editForm.get('amountReceived').invalid && (editForm.get('amountReceived').dirty || editForm.get('amountReceived').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amountReceived').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amountReceived')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                           formControlName="userName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fees">Fees</label>
                    <input type="number" class="form-control" name="fees" id="field_fees"
                           formControlName="fees"/>
                    <div *ngIf="editForm.get('fees').invalid && (editForm.get('fees').dirty || editForm.get('fees').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fees').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fees')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_training">Training</label>
                    <select class="form-control" id="field_training" name="training" formControlName="training">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trainingOption.id === editForm.get('training').value?.id ? editForm.get('training').value : trainingOption" *ngFor="let trainingOption of trainings; trackBy: trackTrainingById">{{trainingOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
